.FooterArea{
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.FooterCopyright{
    font-size: 12px;
}

.FooterBolder{
    font-weight: 600;
}

.FooterAuthor{
    text-decoration: none;
}

.FooterAreaWithoutHeight{
    padding: 5px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.ContactContainer{
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.ContactAboutText{
    font-size: 14px;
    text-align: center;
}