@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.authentication-main-distribution-content-title{
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: rgb(96, 40, 104);
    font-family: 'Poppins', sans-serif;
}

.authentication-main-distribution{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
}

.authentication-main-distribution-content{
    width: 70vw;
    height: 100vh;
    background-color: black;
}

.authentication-main-distribution-content-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5) opacity(1) saturate(0.5); 
}

.authentication-main-distribution-form-area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;
    height: 100vh;
    padding: 30px 25px;
    background-color: white;
}

.authentication-main-distribution-form-area-footer{
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.authentication-main-distribution-form-area-footer-text{
    font-size: 12px;
}

.authentication-main-distribution-form-area-footer-text-bold{
    font-weight: 600;
}

.authentication-main-distribution-form-area-footer-text-bold-author-reference{
    text-decoration: none;
}

@media screen and (max-width: 930px) {
    .authentication-main-distribution-content{
        display: none;
    }

    .authentication-main-distribution-form-area{
        width: 95vw;
    }
}